@charset "UTF-8";

/*	body{
		background-color: #000;
		color: #fff;
	} */
	
body { 	color: #fff;
		background-color: #000;
		background-image: url("./css-T/img/png/cat.png");
		background-repeat: repeat;
		background-size: cover; /* 보통 이렇게 함. */
		
		background-position: center center;
		background-attachment: fixed;
		
		font-size: 1.5em;
		line-height: 2;
	
}