@charset "UTF-8";

/*1. text-align*/
#sec01>p {border: 1px solid;
			width: 500px;}

.ta01 {text-align:left;}
.ta02 {text-align:right;}
.ta03 {text-align:center;}
.ta04 {text-align:justify;}

.test {font-size: 18px;
		font-weight: bold;}
		
/*2. text-indent*/
.test4 {text-align:center; color: #f00;}
.ti01 {text-indent: 30px;}
.ti02 {text-indent: 30%;}
.ti03 {text-indent: 0.5em;}
.ti04 {text-indent: -5em;}

.ti05 {text-indent: 1em;
		text-align:justify;}














































